---
import tower from '@assets/tower.png';
import downarrow from '@assets/down-arrow.png';
import ListaDeEjemplos from '@components/ListaDeEjemplos.astro';
import Descripcion from '@components/Descripcion.astro';
import Titulo from '@components/Titulo.astro';

import { redes5g } from '@scripts/index/listas/index';

const description = `Esta quinta generación de red móvil es en realidad una versión mejorada y aumentada de la anterior generación, el 4G. Empresas y particulares pueden beneficiarse de su eficiencia, ya que multiplica por mil la capacidad que las infraestructuras podían ofrecer en 2010. Además, su velocidad alcanza los 10Gbs, y reduce los tiempos de latencia (los retardos temporales de transmisión en la red), de los 200 milisegundos que ofrece el 4G al milisegundo de la siguiente generación, lo cual ofrece una percepción de cero latencia.
Estas características permiten conectar a más de 7.000 millones de personas y 7 trillones de dispositivos. Gracias a esta potente conectividad, otras tecnologías como Big Data o el IoT, han podido crecer, ya que incluso el tiempo medio para la creación de un servicio de conectividad se ha visto reducido de un ciclo de 90 horas a 90 minutos. De esta forma las empresas son capaces de llevar a más personas y empresas, de manera segura, un amplio catálogo de servicios y aplicaciones reduciendo el coste que esto conlleva.`
---

<section class="Redes5G">
    <Titulo img={tower.src} text='Redes 5G:' />
    <Descripcion description={description} />
    <div class="visuals">
        <div class="list">
            <img src={downarrow.src} alt="downarrow" class="arrow up"/>
            <p>Velocidad</p>
        </div>
        <div class="list">
            <img src={downarrow.src} alt="downarrow" class="arrow down"/>
            <p>Latencia</p>
        </div>
        <div class="list">
            <img src={downarrow.src} alt="downarrow" class="arrow up"/>
            <p>Capacidad</p>
        </div>
    </div>
    <ListaDeEjemplos list={redes5g} />
</section>

<style>
    .visuals {
        display: flex;
        margin-top: 5vh;
        justify-content: center;
        align-items: left;
        flex-direction: row;
        gap: 20px;
        margin-bottom: 20px;
    }

    .list {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        gap: 20px;
        transition: transform 0.3s ease-in-out;

        & p {
            transition: all 0.3s ease-in-out;
        }
    }

    .list:hover {
        cursor:default;
        transform: scale(1.2);
        
        & p {
            background: var(--main-gradient);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
        }

        & .up {
            transform: translate(5px, -10px) rotate(180deg);
        }

        & .down {
            transform: translate(5px, 10px) rotate(0deg);
        }
    }

    .list:not(:hover) {
        transform: scale(1);
        transition: transform 0.3s ease-in-out;

        & p {
            background: var(--text-color);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			transition: all 0.3s ease-in-out;
        }
    }

    .arrow {
        width: 50px;
        height: 50px;
        transition: transform 0.3s ease-in-out;
    }

    .arrow.up {
        transform: rotate(180deg);
    }

    @media screen and (max-width: 760px) {
        .visuals {
            flex-direction: column;
            gap: 20px;
            justify-content: center;
            align-items: center;
        
            & .list {
                alignt-items: center;
                justify-content: center;
            }
        }
    }
</style>