---
import downarrow from "../../assets/down-arrow.png";
import dron from "../../assets/drop.png"
import microchip from "../../assets/microchip.png"
import printing from "../../assets/3d-printing.png"
import augmentedreality from "../../assets/augmented-reality.png"
import tower from "../../assets/tower.png"
import cloud from "../../assets/cloud.png"
import smartphone from "../../assets/smartphone.png"
---

<div class="inventos">
    <div class="Telefonos">
        <div class="title">
            <img src={smartphone.src} alt="smartphone"/>
            <h1>Teléfonos móviles:</h1>
        </div>
        <div class="cards">
            <div class="card">
                <h3 class="gradient-text">1983 - DYNATAC 8000X</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor praesentium nisi impedit voluptatibus accusamus rerum voluptatem error pariatur corrupti perferendis, aut deleniti inventore vel provident quos quo recusandae eaque odit!</p>
            </div>
            <div class="card">
                <h3 class="gradient-text">NOKIA 3310</h3>
                <p>
                    Fue lanzado en 2000 y se convirtió en uno de los teléfonos más icónicos de la historia. Con su diseño robusto y batería de larga duración, el Nokia 3310 se hizo famoso por su resistencia y durabilidad. Además, incluía juegos como Snake, que se volvieron muy populares.
                </p>
            </div>
            <div class="card">
                <h3 class="gradient-text">IPHONE</h3>
                <p>
                    Fue lanzado en 2007 y revolucionó la industria de los teléfonos inteligentes al introducir una interfaz de pantalla táctil intuitiva y una amplia gama de aplicaciones. El iPhone ha evolucionado a lo largo de los años, incorporando mejoras en la cámara, el rendimiento y la conectividad.
                </p>
            </div>
            <div class="card">
                <h3 class="gradient-text">SAMSUNG GALAXY S</h3>
                <p>
                    Fue lanzado en 2010 y se convirtió en uno de los teléfonos inteligentes más populares del mundo. Con su pantalla AMOLED, cámara de alta calidad y rendimiento potente, el Galaxy S ha sido un competidor clave en el mercado de teléfonos inteligentes.
                </p>
            </div>
            <div class="card">
                <h3 class="gradient-text">GOOGLE PIXEL</h3>
                <p>
                    Fue lanzado en 2016 y se destacó por su enfoque en la fotografía y la inteligencia artificial. Con su cámara de alta calidad y funciones avanzadas de procesamiento de imágenes, el Google Pixel ha sido elogiado por su rendimiento fotográfico excepcional.
                </p>
            </div>
            <div class="card">
                <h3 class="gradient-text">XIAOMI MI</h3>
                <p>
                    Fue lanzado en 2011 y se ha convertido en uno de los principales fabricantes de teléfonos inteligentes del mundo. Con su enfoque en ofrecer dispositivos de alta calidad a precios asequibles, Xiaomi ha ganado una gran base de usuarios en todo el mundo.
                </p>
            </div>
        </div>
    </div>

    <div class="CloudComputing">
        <div class="title">
            <img src={cloud.src} alt="cloud"/>
            <h1>Computación en la nube:</h1>
        </div>
        <div class="rows">
            <div class="row">
                <div class="description">
                    <p>Antes, los recursos se compartían con conexiones programadas. Sin embargo, cada vez se utiliza más el método de distribución denominado cloud computing, el cual proporciona infraestructura, servicios, plataformas y aplicaciones según se requiera en las redes.
                    
                        El cloud computing hace referencia a la ejecución de las cargas de trabajo en las nubes, las cuales son entornos de TI que extraen, agrupan y comparten recursos flexibles en una red. El cloud computing y las nubes no son tecnologías en sí mismas.
                        Son conceptos que describen cómo se pueden utilizar las tecnologías de la información (TI) para proporcionar servicios y recursos a través de Internet. El cloud computing es un modelo de entrega de servicios de TI que permite el acceso a recursos informáticos compartidos, como servidores, almacenamiento y aplicaciones, a través de Internet. Las nubes son entornos virtuales que permiten la creación y gestión de estos recursos, proporcionando una infraestructura escalable y flexible para el cloud computing.
                        </p>
                </div>
            </div>
            <div class="row">
                <h1><b>Características</b>:</h1>
                <ul>
                    <li>Acceso a datos y aplicaciones desde cualquier lugar con conexión a Internet</li>
                    <li>Escalabilidad y flexibilidad en el uso de recursos</li>
                    <li>Reducción de costos operativos y de infraestructura</li>
                    <li>Seguridad y respaldo de datos en la nube</li>
                    <li>Colaboración y compartición de información en tiempo real</li>
                    <li>Actualizaciones automáticas y mantenimiento de software</li>
                    <li>Integración con otras tecnologías y servicios en la nube</li>
                    <li>Acceso a herramientas de análisis y procesamiento de datos avanzados</li>
                    <li>Facilidad de implementación y gestión de aplicaciones</li>
                    <li>Soporte para múltiples dispositivos y plataformas</li>
                    <li>Reducción del tiempo de inactividad y mejora de la disponibilidad de servicios</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="Redes5G">
        <div class="title">
            <img src={tower.src} alt="tower"/>
            <h1>Redes 5G:</h1>
        </div>
        <ul>
            <div class="visuals">
                <div class="list">
                    <img src={downarrow.src} alt="downarrow" class="arrow up"/>
                    <p>Velocidad</p>
                </div>
                <div class="list">
                    <img src={downarrow.src} alt="downarrow" class="arrow down"/>
                    <p>Latencia</p>
                </div>
                <div class="list">
                    <img src={downarrow.src} alt="downarrow" class="arrow up"/>
                    <p>Capacidad</p>
                </div>
            </div>
            <li>La tecnología 5G es la quinta generación de redes móviles, que ofrece velocidades de conexión más rápidas, menor latencia y mayor capacidad de conexión simultánea de dispositivos.</li>
            <li>5G utiliza frecuencias de radio más altas y tecnologías avanzadas como MIMO (Multiple Input Multiple Output) y beamforming para mejorar la eficiencia y la cobertura de la red.</li>
            <li>La tecnología 5G permite la conexión de una gran cantidad de dispositivos IoT (Internet de las cosas), lo que facilita la implementación de soluciones inteligentes en diversas industrias.</li>
            <li>5G es fundamental para el desarrollo de aplicaciones como la realidad aumentada, la realidad virtual y la conducción autónoma, que requieren altas velocidades y baja latencia.</li>
        </ul>
    </div>

    <div class="RealidadAumentada">
        <div class="title">
            <img src={augmentedreality.src} alt="augmentedreality">
            <h1>Realidad aumentada (RA):</h1>
        </div>
        <div class="description">
            <p>Tecnología que superpone elementos digitales <span class="gradient-text">(imagenes, texto, modelos 3D)</span> en el mundo real a través de dispositivos móviles y lentes inteligentes. La RA combina el mundo físico y digital, permitiendo la interacción en tiempo real con objetos virtuales, se utiliza en aplicaciones de entretenimiento, educación, medicina y marketing, mejorando la experiencia del usuario y facilitando el aprendizaje, esta se basa en tecnologías como la visión por computadora, el reconocimiento de patrones y la geolocalización para identificar y superponer información digital en el entorno real. <b class="gradient-text">Ejemplos:</b></p>

            <ul>
                <li><span class="gradient-text">Pokémon GO:</span> Juego de realidad aumentada que permite a los jugadores capturar criaturas virtuales en el mundo real utilizando la cámara de su dispositivo móvil.</li>
                <li><span class="gradient-text">Google Lens: </span>Aplicación que utiliza la realidad aumentada para proporcionar información sobre objetos y lugares a través de la cámara del teléfono.</li>
                <li><span class="gradient-text">IKEA Place:</span> Aplicación que permite a los usuarios visualizar muebles y decoraciones en su hogar antes de comprarlos, utilizando la cámara del dispositivo.</li>
                <li><span class="gradient-text">Snapchat:</span> Aplicación de mensajería que utiliza filtros de realidad aumentada para superponer efectos y animaciones en las fotos y videos.</li>
                <li><span class="gradient-text">Microsoft HoloLens:</span> Dispositivo de realidad aumentada que permite a los usuarios interactuar con hologramas en su entorno real, utilizado en aplicaciones industriales y de diseño.</li>
                <li><span class="gradient-text">Google Maps Live View:</span> Función de Google Maps que utiliza la realidad aumentada para proporcionar direcciones en tiempo real superpuestas en el entorno real a través de la cámara del dispositivo.</li>
                <li><span class="gradient-text">Realidad aumentada en educación:</span> Aplicaciones que permiten a los estudiantes interactuar con modelos 3D de conceptos científicos o históricos, mejorando la comprensión y el aprendizaje.</li>
                <li><span class="gradient-text">Realidad aumentada en publicidad:</span> Campañas publicitarias que utilizan la realidad aumentada para crear experiencias interactivas y atractivas para los consumidores.</li>
            </ul>
        </div>
    </div>

    <div class="Impresion3D">
        <div class="title">
            <img src={printing.src} alt="3DPrinting">
            <h1>Impresión 3D:</h1>
        </div>
        <div class="description">
            <p>
                La impresión 3D es una tecnología que permite crear objetos tridimensionales a partir de un modelo digital. Utiliza un proceso de fabricación aditiva, donde se añaden capas sucesivas de material para construir el objeto. Esta tecnología ha revolucionado la forma en que se diseñan y fabrican productos en diversas industrias, desde la medicina hasta la automoción y la arquitectura. <b class="gradient-text">Algunos tipos:</b></p>
            </p>
        </div>
        <div class="cards">
            <div class="card">
                <h3 class="gradient-text">FDM (Modelado por deposición fundida)</h3>
                <p>
                    Utiliza un filamento termoplástico que se funde y se extruye capa por capa para crear el objeto. Es la tecnología más común y asequible para la impresión 3D de escritorio.
                </p>
            </div>
            <div class="card">
                <h3 class="gradient-text">SLA (Estereolitografía)</h3>
                <p>
                    Utiliza un láser para curar resina líquida capa por capa. Ofrece alta precisión y detalles finos, pero es más costosa y requiere un post-procesamiento adicional.
                </p>
            </div>
            <div class="card">
                <h3 class="gradient-text">SLS (Sinterización selectiva por láser)</h3>
                <p>
                    Utiliza un láser para fusionar polvo de material (plástico, metal o cerámica) capa por capa. Es ideal para crear piezas funcionales y complejas, pero requiere una impresora especializada y es más costosa.
                </p>
            </div>
        </div>

        <h2><b>Avances:</b></h2>
        <ul>
            <li><span class="gradient-text">Prototipado rápido:</span> Permite crear prototipos funcionales en poco tiempo, acelerando el proceso de diseño y desarrollo de productos.</li>
            <li><span class="gradient-text">Fabricación personalizada:</span> Posibilita la creación de productos a medida, adaptados a las necesidades específicas de los clientes.</li>
            <li><span class="gradient-text">Producción en pequeña escala:</span> Facilita la producción de lotes pequeños de productos sin necesidad de herramientas costosas.</li>
            <li><span class="gradient-text">Impresión de materiales compuestos:</span> Permite la creación de objetos con propiedades mejoradas, como mayor resistencia o ligereza.</li>
            <li><span class="gradient-text">Bioprinting:</span> Utiliza la impresión 3D para crear tejidos y órganos artificiales, con aplicaciones en medicina regenerativa y trasplantes.</li>
        </ul>
    </div>

    <div class="InternetDeLasCosas">
        <h1>El internet de las cosas (IoT)</h1>
        <div class="description">
            <p>
                Es un concepto que se refiere a la interconexión de dispositivos y objetos a través de Internet, permitiendo la recopilación y el intercambio de datos entre ellos. Esta tecnología ha transformado la forma en que interactuamos con el mundo que nos rodea, facilitando la automatización y el control remoto de dispositivos en diversas áreas, como la domótica, la salud, la industria y el transporte. El IoT se basa en tecnologías como sensores, conectividad inalámbrica y análisis de datos para crear soluciones inteligentes y eficientes.
                <b class="gradient-text">Ejemplos:</b></p>
            </p>
            <ul>
                <li><span class="gradient-text">Dispositivos domésticos inteligentes:</span> Termostatos, luces y electrodomésticos que se pueden controlar de forma remota a través de aplicaciones móviles.</li>
                <li><span class="gradient-text">Wearables:</span> Dispositivos como relojes inteligentes y pulseras de actividad que monitorean la salud y la actividad física del usuario.</li>
                <li><span class="gradient-text">Ciudades inteligentes:</span> Infraestructura urbana conectada que utiliza sensores y datos para mejorar la eficiencia y la calidad de vida en las ciudades.</li>
                <li><span class="gradient-text">Agricultura inteligente:</span> Sensores y dispositivos conectados que permiten el monitoreo y control de cultivos y ganado.</li>
                <li><span class="gradient-text">Vehículos conectados:</span> Automóviles y camiones equipados con tecnología IoT para mejorar la seguridad, la navegación y el mantenimiento.</li>
            </ul>
        </div>
    </div>

    <div class="InteligenciaArtificial">
        <div class="title">
            <img src={microchip.src} alt="Microchip"/>
            <h1>Inteligencia Artificial (IA):</h1>
        </div>
        <div class="rows">
            <div class="row">
                <div class="description">
                    <p>
                        La inteligencia artificial es un campo de la informática que se centra en la creación de sistemas y algoritmos capaces de realizar tareas que requieren inteligencia humana, como el aprendizaje, el razonamiento y la toma de decisiones. La IA se basa en técnicas como el aprendizaje automático, el procesamiento del lenguaje natural y la visión por computadora para desarrollar aplicaciones en diversas áreas, como la medicina, la automoción, la atención al cliente y el entretenimiento. La IA está transformando la forma en que interactuamos con la tecnología y tiene el potencial de revolucionar múltiples industrias.
                        <b class="gradient-text">Ejemplos:</b></p>
                    </p>
        
                    <ul>
                        <li><span class="gradient-text">Asistentes virtuales:</span> Siri, Alexa y Google Assistant utilizan IA para comprender y responder a comandos de voz.</li>
                        <li><span class="gradient-text">Reconocimiento facial:</span> Sistemas de seguridad y redes sociales utilizan IA para identificar y clasificar rostros en imágenes.</li>
                        <li><span class="gradient-text">Sistemas de recomendación:</span> Plataformas como Netflix y Amazon utilizan IA para sugerir contenido y productos basados en el comportamiento del usuario.</li>
                        <li><span class="gradient-text">Vehículos autónomos:</span> Coches y drones que utilizan IA para navegar y tomar decisiones en tiempo real.</li>
                        <li><span class="gradient-text">Chatbots:</span> Programas de IA que interactúan con los usuarios a través de texto o voz, proporcionando asistencia y soporte al cliente.</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <h2><b>Importancia:</b></h2>
                <ul>
                    <li><span class="gradient-text">Automatización:</span> La IA permite la automatización de tareas repetitivas y tediosas, lo que aumenta la eficiencia y reduce los costos operativos.</li>
                    <li><span class="gradient-text">Análisis de datos:</span> La IA puede procesar grandes volúmenes de datos y extraer información valiosa para la toma de decisiones.</li>
                    <li><span class="gradient-text">Mejora de la experiencia del usuario:</span> La IA permite personalizar las interacciones y ofrecer recomendaciones más precisas y relevantes.</li>
                    <li><span class="gradient-text">Innovación:</span> La IA impulsa el desarrollo de nuevas tecnologías y soluciones en diversas industrias.</li>
                </ul>

                <h2><b>Desafíos éticos:</b></h2>
                <ul>
                    <li><span class="gradient-text">Privacidad:</span> La recopilación y el uso de datos personales por parte de sistemas de IA plantea preocupaciones sobre la privacidad y la seguridad de la información.</li>
                    <li><span class="gradient-text">Desigualdad:</span> La automatización impulsada por la IA puede llevar a la pérdida de empleos y aumentar la desigualdad económica.</li>
                    <li><span class="gradient-text">Sesgo:</span> Los algoritmos de IA pueden perpetuar sesgos y discriminación si se entrenan con datos sesgados.</li>
                    <li><span class="gradient-text">Responsabilidad:</span> La toma de decisiones autónoma por parte de sistemas de IA plantea preguntas sobre la responsabilidad y la rendición de cuentas.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="Drones">
        <div class="title">
            <img src={dron.src} alt="Dron"/>
            <h1>Drones:</h1>
        </div>
        <div class="rows">
            <div class="row">
                <p>
                    Los drones son vehículos aéreos no tripulados que se controlan de forma remota o de manera autónoma. Se utilizan en diversas aplicaciones, como la fotografía aérea, la entrega de paquetes, la vigilancia y la agricultura. Los drones están equipados con tecnología avanzada, como cámaras, sensores y sistemas de navegación, lo que les permite realizar tareas complejas y recopilar datos en tiempo real. La popularidad de los drones ha crecido en los últimos años debido a su versatilidad y accesibilidad.
                    <b class="gradient-text">Ejemplos:</b></p>
                </p>
                <ul>
                    <li><span class="gradient-text">Drones de consumo:</span> Utilizados para fotografía y videografía aérea, como el DJI Phantom y el Parrot Anafi.</li>
                    <li><span class="gradient-text">Drones de entrega:</span> Empresas como Amazon y Google están desarrollando drones para entregar paquetes de manera rápida y eficiente.</li>
                    <li><span class="gradient-text">Drones agrícolas:</span> Utilizados para monitorear cultivos, aplicar pesticidas y fertilizantes, y recopilar datos sobre la salud de las plantas.</li>
                    <li><span class="gradient-text">Drones de inspección:</span> Utilizados para inspeccionar infraestructuras como puentes, torres de telecomunicaciones y líneas eléctricas.</li>
                    <li><span class="gradient-text">Drones de búsqueda y rescate:</span> Utilizados por equipos de emergencia para localizar personas desaparecidas o evaluar daños en áreas afectadas por desastres naturales.</li>
                </ul>
            </div>
            <div class="row">
                <div class="description">
                    <h2><b>Aplicaciones:</b></h2>
                    <ul>
                        <li><span class="gradient-text">Fotografía y videografía aérea:</span> Captura de imágenes y videos desde perspectivas únicas.</li>
                        <li><span class="gradient-text">Agricultura de precisión:</span> Monitoreo de cultivos y aplicación de insumos agrícolas.</li>
                        <li><span class="gradient-text">Inspección industrial:</span> Evaluación de infraestructuras y equipos en entornos difíciles de alcanzar.</li>
                        <li><span class="gradient-text">Logística y entrega:</span> Transporte de paquetes y suministros a áreas remotas o de difícil acceso.</li>
                        <li><span class="gradient-text">Seguridad y vigilancia:</span> Monitoreo de áreas extensas para detectar actividades sospechosas.</li>
                    </ul>
                    <h2><b>Importancia:</b></h2>
                    <ul>
                        <li><span class="gradient-text">Eficiencia:</span> Los drones pueden realizar tareas de manera más rápida y eficiente que los métodos tradicionales.</li>
                        <li><span class="gradient-text">Accesibilidad:</span> Permiten acceder a áreas de difícil acceso o peligrosas para los humanos.</li>
                        <li><span class="gradient-text">Recopilación de datos:</span> Proporcionan información valiosa en tiempo real para la toma de decisiones.</li>
                        <li><span class="gradient-text">Innovación:</span> Impulsan el desarrollo de nuevas tecnologías y aplicaciones en diversas industrias.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .title {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        gap: 20px;
        margin-top: 5vh;
    }

    .title img {
        width: 50px;
        height: 50px;
    }

    .CloudComputing {
        width: 90vw;
        justify-self: center;
        align-self: center;
        margin-top: 5vh;
        text-align: justify;

    }

    .Redes5G, .RealidadAumentada, .Telefonos, .Impresion3D, .InternetDeLasCosas {
        width: 80vw;
    }

    .Impresion3D .cards .card {
        font-size: 14px;
        padding: 10px;
        margin: 10px;
        min-height: 80px;
        max-width: 250px;
    }

    .Impresion3D, .Telefonos .cards {
        gap: 10px;
        padding: 20px;
        justify-content: center;
        & .card {
            max-width: 300px;
            max-height: 300px;
        }
    }

    .visuals {
        display: flex;
        justify-content: left;
        align-items: left;
        flex-direction: row;
        gap: 20px;
        margin-bottom: 20px;

        & .list {
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            gap: 20px;
        }
    }

    .list:hover {
        cursor: pointer;
        transform: scale(1.2);
        transition: transform 0.3s ease-in-out;
        
        & p {
            background: var(--main-gradient);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			transition: all 0.3s ease-in-out;
        }

        & .up {
            transform: translate(5px, -10px) rotate(180deg);
            transition: transform 0.3s ease-in-out;
        }

        & .down {
            transform: translate(5px, 10px) rotate(0deg);
            transition: transform 0.3s ease-in-out;
        }
    }

    .list:not(:hover) {
        transform: scale(1);
        transition: transform 0.3s ease-in-out;
    }

    .arrow {
        width: 50px;
        height: 50px;
    }

    .arrow.up {
        transform: rotate(180deg);
    }

    .rows {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: top;
        flex-direction: row;
        gap: 2%;

        text-align: justify;

        & .row {
            width: 40vw;
        }
    }

    ul li::marker {
        color: var(--main-color);
    }

    .inventos {
		display: flex;
		justify-content: left;
		align-items: left;
		flex-direction: column;
		margin-left: 10vw;
	}

    .cards {
		display: flex;
        flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 5%;
		padding: 40px;
	}

    .description {
        background: url("../../assets/background.svg") no-repeat center center fixed;
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
		border-radius: 10px;
		padding: 20px;
		margin: 20px;
    }

    .card {
		background-color: rgba(255, 255, 255, 0.9);
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
		border-radius: 10px;
		padding: 20px;
		margin: 20px;
		min-height: 100px;
		max-width: 400px;
		text-align: center;
		font-size: 18px;
		color: #333;
	}

    @media screen and (max-width: 768px) {
        .rows {
            flex-direction: column;
            gap: 20px;
            justify-content: center;
            align-items: center;

            & .row {
                width: 90%;
            }
        }

        .visuals {
            flex-direction: column;
            gap: 20px;
            justify-content: center;
            align-items: center;
        
            & .list {
                alignt-items: center;
                justify-content: center;
            }
        }
    }
</style>