---
import microchip from 'src/assets/microchip.png';
import { CardUtils, InventosUtils } from '../../../scripts/utils';
import { ia } from '../../../scripts/listas';
const {ejemplos, importancia, desafios, modelos} = ia
---

<div class="InteligenciaArtificial">
    <div class="title">
        <img src={microchip.src} alt="Microchip"/>
        <h1>Inteligencia Artificial (IA):</h1>
    </div>
    <div class="rows">
        <div class="row">
            <div class="description hover-anim">
                <p>
                    La inteligencia artificial es un campo de la informática que se centra en la creación de sistemas y algoritmos capaces de realizar tareas que requieren inteligencia humana, como el aprendizaje, el razonamiento y la toma de decisiones. La IA se basa en técnicas como el aprendizaje automático, el procesamiento del lenguaje natural y la visión por computadora para desarrollar aplicaciones en diversas áreas, como la medicina, la automoción, la atención al cliente y el entretenimiento. La IA está transformando la forma en que interactuamos con la tecnología y tiene el potencial de revolucionar múltiples industrias.
                    <b class="gradient-text">Ejemplos:</b></p>
                </p>
    
                <ul>
                    <InventosUtils list={ejemplos} />
                </ul>
            </div>
        </div>
        <div class="row">
            <h2><b>Importancia:</b></h2>
            <ul>
                <InventosUtils list={importancia} />
            </ul>
            <h2><b>Desafíos éticos:</b></h2>
            <ul>
                <InventosUtils list={desafios} />
            </ul>
        </div>
    </div>
    <h2 class="subtitle"><b>Modelos:</b></h1>
    <div class="cards">
        <CardUtils list={modelos} />
    </div>
</div>

<style>
    .subtitle {
        align-self: center;
        justify-self: center;
        margin-top: 5vh;
        margin-bottom: auto;
        font-size: x-large;
    }
</style>